<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Oracle IO</title>
</head>

<body>
    <div class="arbitrageOps">
        <table>
            <title>Arbitrage Spots</title>

            <h1 style="text-align: center;">Arbitrage Spots</h1>
            <table id="table">
                <thead>
                    <tr>
                        <th>Buy</th>
                        <th>From</th>
                        <th>At $</th>
                        <th>Sell To</th>
                        <th>For $</th>
                        <th>Make $ Profit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
            
            <script>
                // const _spots = fetch("127.0.0.1:5000/arbitrageSpots")
                let coinGeckoData = '{{data | safe}}'


                let jsc = JSON.parse(coinGeckoData)

                console.log("jsc",jsc)


                const spots = [{
                    coin: "Bitcoin",
                    sellerMarket: "Binance",
                    buyPrice: 27736,
                    buyerMarket: "CoinGecko",
                    sellPrice: 27740
                }, {
                    coin: "Bitcoin",
                    sellerMarket: "Binance",
                    buyPrice: 27736,
                    buyerMarket: "CoinGecko",
                    sellPrice: 27740
                }, {
                    coin: "Bitcoin",
                    sellerMarket: "Binance",
                    buyPrice: 27736,
                    buyerMarket: "CoinGecko",
                    sellPrice: 27740
                }, {
                    coin: "Bitcoin",
                    sellerMarket: "Binance",
                    buyPrice: 27736,
                    buyerMarket: "CoinGecko",
                    sellPrice: 27740
                }]
                
                const fillArbTableData = (spots) => {
                    const table = document.getElementById('table')
                    spots.forEach(spot => {
                        const row = table.insertRow(-1)
                        let counter = 0
                        for (key in spot) {
                            const cell = row.insertCell(counter)
                            cell.textContent = spot[key]
                            counter++
                        }
                        const cell5 = row.insertCell(counter)
                        cell5.textContent = spot.buyPrice - spot.sellPrice
                    })
                }

                fillArbTableData(spots)
            </script>
</body>

</html>

</div>
<p>you trash dawg</p>
</body>

</html>